name: GitHub context
run-name: Github contexts에 뭐가 들어있는지 체크해보자
on: [push]
jobs:
  git-action-contexts:
    runs-on: ubuntu-latest
    env:
      GREETING: Hello
    steps:
      - run: echo "print all github context info"
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        shell: bash
      - run: echo "print all env context info"
        env:
          ENV_CONTEXT: ${{ toJson(env) }}
        shell: bash
      - run: echo "print all vars context info"
        env:
          VARS_CONTEXT: ${{ toJson(vars) }}
        shell: bash
      - run: echo "print all job context info"
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        shell: bash
      #  - run: echo "print all jobs context info"
      #   env:
      #     GITHUB_CONTEXT: ${{ toJson(jobs) }}
      #   shell: bash
      - run: echo "print all steps context info"
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        shell: bash
      - run: echo "print all runner context info"
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        shell: bash
      - run: echo "print all secrets context info"
        env:
          SECRETS_CONTEXT: ${{ toJson(secrets) }}
        shell: bash
      - run: echo "print all strategy context info"
        env:
          STRATEGY: ${{ toJson(strategy) }}
        shell: bash
      - run: echo "print all matrix context info"
        env:
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        shell: bash
      - run: echo "print all needs context info"
        env:
          NEEDS_CONTEXT: ${{ toJson(needs) }}
        shell: bash
      - run: echo "print all inputs context info"
        env:
          INPUTS_CONTEXT: ${{ toJson(inputs) }}
        shell: bash
