name: Test matrix
run-name: 행렬 테스트 (matrix)
on: push

jobs:
  matrix-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        name: ['Mona', 'Lynn']
        hi: ['Hello', 'Hi']
    steps:
      - run: echo "${{ matrix.hi }} ${{ matrix.name }}"
