name: Greeting on variable day
on:
  schedule:
    - cron: '0 0 * * 1' # Every Monday at 00:00 UTC
env:
  DAY_OF_WEEK: Monday

jobs:
  greeting_job_en:
    runs-on: ubuntu-latest
    env:
      Greeting: Hello
    steps:
      - name: Greeting
        run: echo "$Greeting $Name today is $DAY_OF_WEEK" # Hello John today is Monday
        env:
          Name: 'John'
      - name: Hey
        run: echo "Hi $Name" # Hi Mona
        env:
          Name: 'Mona'
  greeting_job_kr:
    runs-on: ubuntu-latest
    env:
      Greeting: 안녕
    steps:
      - name: Greeting
        run: echo "$Greeting $Name 오늘은 $DAY_OF_WEEK" # 안녕 Mona 오늘은 Monday
        env:
          Name: 'Mona'
      - name: Hey
        run: echo "안녕 $Name" # 안녕 John
        env:
          Name: 'John'
