name: Test working directory
on: push

jobs:
  create-index-files:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: check working directory
        run: |
          pwd
          echo "Contents of default working directory:"
          ls -l

      - name: Touch config file
        working-directory: packages/configuration
        run: |
          pwd
          echo "Contents of packages/configuration:"
          ls -l
          touch ./index.txt

      - name: Touch UI file
        working-directory: packages/ui
        run: |
          pwd
          echo "Contents of packages/ui:"
          ls -l
          touch ./index.txt
