name: Test working directory
on: push

jobs:
  touch-config-file:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./packages/configuration
    steps:
      - name: touch config file
        run: |
          touch ./index.txt
      - name: touch ui file
        working-directory: ./packages/ui
        run: |
          touch ./index.txt
